.gridDesign{
    font-size: 125%;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 20px;
    margin: 30px;
    text-align: center;
}

.gridDesign2{
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 20px;
    margin: 3px;
    text-align: justify;
}

input{
    border-radius: 5px;
}
